<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>About</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body bgcolor="#FFCC99">
<body>
<a href="/Home">Home</a>
</a>
<p>&nbsp;</p>
 <h1 class="style1">About Leonardo da Vinci</h1>
 <p>&nbsp;</p>
 <p align="justify"><span class="style2"><span class="style3"><strong>Leonardo di ser Piero da Vinci </strong>(15 April 1452- May 1519) was an Italian polymath  of the High Renaissance  who was active as a painter, draughtsman , engineer, scientist, theorist, sculptor, and architect. While his fame initially rested on his achievements as a painter, he also became known for his notebooks , in which he made drawings and notes on a variety of subjects, including anatomy, astronomy, botany, cartography, painting, and paleontology . Leonardo's genius  epitomized the Renaissance humanist ideal,  and his collective works compose a contribution to later generations of artists matched only by that of his younger contemporary,</span></span></p>
 <p align="justify" class="style4">Born out of wedlock  to a successful notary  and a lower-class woman in, or near, Vinci , he was educated in Florence by the Italian painter and sculptor Andrea del Verrocchio . He began his career in the city, but then spent much time in the service of Ludovico Sforza  in Milan. Later, he worked in Florence and Milan again, as well as briefly in Rome, all while attracting a large following  of imitators and students. Upon the invitation of Francis I , he spent his last three years in France, where he died in 1519. Since his death, there has not been a time where his achievements, diverse interests, personal life , and empirical thinking have failed to incite interest and admiration, making him a frequent namesake  and subject in culture . </p>
 <h3 align="justify" class="style4">&nbsp; </h3>
 <p class="style3">&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p align="center">&nbsp;</p>
 <p align="center">&nbsp;</p>
 <p align="center">&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
</body>
</html>
