<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Leonardo da Vinci</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<link href="file:///C|/Users/Sara/lab-express-basic-site/public/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#FFCC99">
<body>
<h1 align="center" class="style3 ">Welcome to site of Leonardo da Vinci
</h1>
<p align="center"><img src="file:///C|/Users/Sara/lab-express-basic-site/public/images/photo1.jpg" width="428" height="447"><img src="file:///C|/Users/Sara/lab-express-basic-site/public/images/Francesco_Melzi_-_Portrait_of_Leonardo.png" width="428" height="447"></p>
<p align="center"><a href="/About">About</a>
<p align="center"><a href="/Works">Works</a>
<p align="center">
</body>
</html>