<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Works</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body bgcolor="#FFCC99">
<body>
<p align="center" class="style2"><strong><em>Work of Leonardo da Vinci</em></strong></p>
<p class="style2">It is primarily as a painter that Leonardo was and is renowned. Two of his works, the&nbsp; Mona Lisa &nbsp;and&nbsp; The Last Supper &nbsp;occupy unique positions as the most famous, most reproduced and most parodied portrait and religious painting of all time, their fame approached only by Michelangelo's Creation of Adam. Leonardo's drawing of the&nbsp; Vitruvian Man &nbsp;is also iconic. Perhaps fifteen of his paintings survive, the small number due to his constant, and frequently disastrous, experimentation with new techniques, and his chronic procrastination. Nevertheless, these few works together with his notebooks, which contain drawings, scientific diagrams, and his thoughts on the nature of painting, comprise a contribution to later generations of artists only rivalled by that of his contemporary, Michelangelo. </p>
<p align="justify" class="style2">As an engineer, Leonardo's ideas were vastly ahead of his time. He conceptualised a helicopter, a tank, concentrated solar power, a calculator, the double hull and outlined a rudimentary theory of plate tectonics. Relatively few of his designs were constructed or were even feasible during his lifetime, but some of his smaller inventions, such as an automated bobbin winder and a machine for testing the tensile strength of wire, entered the world of manufacturing unheralded. As a scientist, he greatly advanced the state of knowledge in the fields of anatomy, civil engineering, optics, and hydrodynamics. </p>
<h1>&nbsp;</h1>
<p align="center" class="style1"><img src="file:///C|/Users/Sara/lab-express-basic-site/public/images/Mona-Lisa-La-Gioconda-C.-1503-05.jpg" width="380" height="600"><img src="file:///C|/Users/Sara/lab-express-basic-site/public/images/&#218;ltima_Cena_-_Da_Vinci_5.jpg" width="380" height="600"></p>
<a href="/Home">Home</a>
</a>
</body>
</html>
